<div class="page-wrap">

	<h1>404 - Page Not Found</h1>
	<p>Ooops... Something strange just happened. Sorry for the inconvinence... Please head back to the <a href="/">home page</a> and let's try that again!</p>

</div>