
<section class="styleguide-wrapper">

	<section class="guide-section page-wrap">
		<h2>Font's and Typography</h2>
		<hr />
		<h1>Header One</h1>
		<h2>Header Two</h2>
		<h3>Header Three</h3>
		<h4>Header Four</h4>
		<h5>Header Five</h5>
		<h6>Header Six</h6>
		<p>This is a paragraph of text with a <a href="#">link inside</a> of the sentance.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
	</section>
	<hr />
	<section class="guide-section page-wrap">
		<h2>Basic Lazy Loaded Image</h2>
		<hr />
		<div class="img-wrap center"><img class="lazy" data-original="/assets/img/exterior-window-wide.jpg" width="400px" hegith="299" /></div>
		<p>Image pushed left</p>
		<div class="img-wrap push-left"><img class="lazy" data-original="/assets/img/exterior-window-wide.jpg" width="400px" hegith="299" /></div>
	</section>
	<hr />
	
</section>