<article class="about-text">

<h2>About</h2>

<p>We're dedicated to our work and take quality very seriously. Every job we take on is approched with the same amount of dedication and skill.</p>
</article>