<section class="enticements">
	<h2>What We Do Best</h2>
	<ul class="jobs-list">
		<li>Driveways</li>
		<li>Sheetrock</li>
		<li>Patios</li>
		<li>Bathrooms</li>
		<li>Slabs</li>
		<li>Floors - Tile</li>
		<li>Walkways</li>
		<li>Wood Floors</li>
		<h4>&amp; much more!</h4>
	</ul>
	<!-- <h2>Basic Job Quotes</h2>
	<p>If you're looking to get one of these basic services done, we can garuntee these prices.</p> -->
</section>