<section class="exterior-section wide-section">
	<div class="wrap">
		<a id="exterior"></a>
		<h2>Exterior Work</h2>
		<p>Here is a look at some projects I've completed outside the house including windows and patios.</p>
		<a id="floors"></a>
		<h3>Windows</h3>
		<section class="two-up">
			<figure class="img-wrap">
				<img class="lazy" data-original="{{assets}}/img/mandj-dfw-021-thumb.jpg" data-fullimg="{{assets}}/img/mandj-dfw-021.jpg" />
				<figcaption>Before</figcaption>
			</figure>
			<figure class="img-wrap">
				<img class="lazy" data-original="{{assets}}/img/mandj-dfw-023-thumb.jpg" data-fullimg="{{assets}}/img/mandj-dfw-023.jpg" />
				<figcaption>After</figcaption>				
			</figure>
		</section>
		<a href="/exterior/" class="button-lrg morebtn">more exterior work &raquo;</a>
	</div>
</section>