<section class="exterior-section wide-section">
	<div class="wrap">
		<a id="exterior"></a>
		<h2>Exterior</h2>
		<p>Here is a look at some projects I've completed outside the house including windows and patios.</p>
		<a id="floors"></a>
		<h3>Windows</h3>
		<section class="two-up">
			<figure class="img-wrap">
				<img class="lazy" data-original="{{assets}}/img/mandj-dfw-02.jpg" />
				<figcaption>Before</figcaption>
			</figure>
			<figure class="img-wrap">
				<img class="lazy" data-original="{{assets}}/img/mandj-dfw-024.jpg" />
				<figcaption>After</figcaption>				
			</figure>
		</section>
		<!-- <figure class="img-wrap center">
			<img class="lazy" data-original="{{assets}}/img/mandj-dfw-02.jpg" alt="M and J DFW Construction and Remodeling - Exterior window projects - Dallas Texas" />
		</figure> -->
		<a href="/exterior/" class="button-lrg morebtn">more exterior work</a>
	</div>
</section>