<section class="exterior-section wide-section">
	<div class="wrap">
		<a id="exterior"></a>
		<h2>Exterior</h2>
		<p>Here is a look at some projects I've completed outside the house including windows and patios.</p>
		<a id="floors"></a>
		<h3>Windows</h3>
		<figure class="img-wrap center">
			<img src="{{assets}}/img/mandj-dfw-02.jpg" alt="M and J DFW Construction and Remodeling - Exterior window projects - Dallas Texas" />
		</figure>
		<a href="/exterior/" class="button-lrg">more exterior work</a>
	</div>
</section>