<section class="interior-section wide-section">
	<div class="wrap">
		<a id="interior"></a>
		<h2>Interior</h2>
		<p>Here is a look at some projects I've completed inside homes around DFW.</p>
		<a id="floors"></a>
		<h3>Floors</h3>
	</div>
</section>