<ul class="portfolio-nav">
	<li>
		<a href="/">Home Page</a>
	</li>
	<li>
		<a href="/interior/">Interior</a>
		<ul>
			<li><a href="#floors">Floors</a></li>
			<li><a href="#bathroom">Bathroom</a></li>
			<li><a href="#windows">Windows</a></li>
		</ul>
	</li>
	<li>
		<a href="/exterior/">Exterior</a>
		<ul>
			<li><a href="#patios">Patios</a></li>
		</ul>
	</li>
	<li>
		<a href="/about/">About M&amp;J</a>
	</li>
	<li>
		<a href="/contact/">Contact Us</a>
	</li>
</ul>