<ul class="portfolio-nav">
	<li>
		<a href="/">Home Page</a>
	</li>
	<li>
		<a href="#interior">Interior</a>
		<ul>
			<li><a href="#floors">Floors</a></li>
			<li><a href="#">Bathroom</a></li>
			<li><a href="#">Windows</a></li>
		</ul>
	</li>
	<li>
		<a href="#">Exterior</a>
		<ul>
			<li><a href="#">Patios</a></li>
		</ul>
	</li>
	<li>
		<a href="/about/">About M&amp;J</a>
	</li>
	<li>
		<a href="/contact/">Contact Us</a>
	</li>
</ul>